/* ID SELECTORS */
#title {
  color: aqua;
  background: black;
}

#footer {
  color: brown;
  background: bisque;
}
/* CLASS SELECTORS */
.green {
  color: green;
}
.red {
  color: red;
  background: gray;
}

/* DIV SPAN */
.green {
  color: green;
}
.red {
  color: red;
  background: gray;
}
div {
  color: red;
  background: gray;
}
span {
  text-transform: uppercase;
}
